<footer class="py-4 px-12 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:py-6 md:px-16">
    <span class="text-sm text-gray-500 sm:text-center flex items-center">© 2022 &nbsp;

        <img class="h-5 w-5 inline-block" src="assets/angular_solidBlack.svg" alt="logo">ngular Project by &nbsp;
        <a href="#" class="hover:underline"> Sachin Varghese</a>.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer>